cachelib==0.6.0
click==8.0.4
Flask==2.0.3
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Sock==0.5.2
greenlet==1.1.2 # for gevent
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
psycopg2-binary==2.9.3
SQLAlchemy==1.4.32
Werkzeug==2.0.3

