h1, h4, h5 {
    color: #206ED2;
}

#main-section {
    overflow: hidden;
    width: 100%;
}

.jumbotron {
    marin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}


h2, h5 {
    color: #5b9cfc;
}


.formError {
    list-style-type: none;
    padding: 0px;
    color: red;
}

input[type='text']:focus, input[type='password']:focus {
    border-color: #ffc107;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}


