body { font-family: Tahoma, Verdana, Arial, sans-serif; }
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  /*margin: 2pt 40pt;*/
}
input[type=submit] {
    background-color: #42ADF5;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button] {
    background-color: #F5AD42;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#addNewPost {
    background-color: #42ADF5;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: bold;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


.form-container {
    display: block;
}

#error {
    display: block;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
#success {
    display: none;
    padding: 20px;
    background-color: #04AA6D; /* Green */
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
