<!doctype html>
<html>
<head>
    <title>WebSocker Demo</title>
</head>
<body>
<h1>WebSocket Demo</h1>
<div id="log"></div>
<br>
<form id="form">
    <label for="text">Input: </label>
    <input type="text" id="text" autofocus>
</form>
<script>
    let clients = [];
    let username = '{{ username}}';

    window.addEventListener("DOMContentLoaded", () => {
        setTimeout(sendPing, 35000);
    })
    const log = (text, color) => {
        document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
    };

    const socket = new WebSocket('ws://' + location.host + '/api');
    socket.onopen = ws => {
        let message = {
            message: 'open',
            user_id: `{{ user_id }}`,
            username: '{{ username }}',
            text: 'Connection is open.'
        }
        socket.send(JSON.stringify(message));
        message.message = 'connected';
        message.text = 'connected';
        socket.send(JSON.stringify(message));
        console.log(`User {{ username }} is  connected.`);
    };

    socket.onmessage = ev => {
        let message = JSON.parse(ev.data);
        if (message.message === 'pong') {
            setTimeout(sendPing, 35000);
            return;
        }
        if (message.message === 'connected') {
            log(message.username + ' is ' + message.text, 'green');
            return;
        }
        log(message.username + ' => ' + message.text, 'blue');
    }

    socket.onclose = ev => {
        console.log('Connection is closed.');
        console.log('User {{username}} is disconnected.');
    }

    document.getElementById('form').onsubmit = ev => {
        ev.preventDefault();
        const textField = document.getElementById('text');
        let message = {
            message: 'message',
            user_id: `{{ user_id }}`,
            username: '{{ username }}',
            text: textField.value
        }

        log(username + ' => ' + textField.value, 'red');
        socket.send(JSON.stringify(message));
        textField.value = '';
    };

    function sendPing() {
        let message = {
            message: 'ping',
            user_id: `{{ user_id }}`,
            username: '{{ username }}',
            text: 'Ping'
        }
        socket.send(JSON.stringify(message));
    }

</script>
</body>
</html>
