<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Chat</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/static/main_style.css">
</head>

<body>
<div class="main-section">
    <div class="jumbotron">
        <h1 class="display-4">Chat</h1>
        <p class="lead">IRC Chat rooms are back. </p>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
