{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Register {% endblock title %}

{% block content %}
    <h2>Get started! main</h2>
    <p>First time here? Register to start using Rchat</p>

    <form action="/v1/register" , method="POST">
        <div class="form-group">
            <div class="form-control">
                <label for="username">Потребителско име</label>
            </div>
            <div class="form-control">
                <input type="text" name="username">
            </div>
        </div>
            <div class="form-control">
                <label for="password">Парола</label>
            </div>
            <div class="form-control">
                <input type="password" name="password">
            </div>
            <div class="form-control">
                <label for="password">Потвърждение на паролата</label>
            </div>
            <div class="form-control">
                <input type="password" name="password_verification">
            </div>
            <div>
                <label for="username">Пълно име</label>
            </div>
            <div class="form-control">
                <input type="text" name="full_name">
            </div>
            <div>
                <label for="username">E-mail</label>
            </div>
            <div class="form-control">
                <input type="text" name="email">
            </div>
            <div class="form-control">
                <input type="submit" value="Create" class="btn btn-warning">
            </div>

    </form>

    <hr>

    <p>Already registered? <a href="/v1/login">Login here</a>.</p>
{% endblock %}
