{% extends "layout.html" %}
{% block title %}Постове на потребител @{{ username }}{% endblock %}
{% block content %}
{% if logged_in %}
<button id="addNewPost" onclick="window.location.href='/v1/post'">+ Нов пост</button>
{% endif %}
{% for post in posts %}
    <p><strong>{{ post.title }}</strong></p>
    <p><i>{{ post.submitted_at }} by {{ post.user.fullname }}</i></p>
    <p>{{ post.content }}</p>
{% endfor %}
<hr>
{% for page in pages %}
    {% if page|int() == current_page|int() %}
        <b>{{ page+1 }}</b>&nbsp;
    {% elif page != "|" %}
        <a href="?page={{ page }}">{{ page+1 }}</a>&nbsp;
    {% elif page == "|" %}
        ...&nbsp;
    {% endif %}
{% endfor %}
{% endblock %}
