{% extends "layout.html" %}
{% block title %}Нов пост{% endblock %}
{% block content %}
    <script type="text/javascript" src="/js/post.js"></script>
    <div id="error" style="display: none">
    {% if error %}
        {{ error }}
    {% endif %}
    </div>
    <h1>Нов пост</h1>
    <form action="/v1/post" method="POST" enctype="multipart/form-data">
        <div class="form-container">
            <div class="form-item">
            <label for="title">Заглавие</label>
            </div>
            <div class="form-item">
                <input type="text" id="title" name="title" {% if title %}value="{{ title }}"{% endif %} >
            </div>
            <div class="form-item">
            <label for="content">Съдържание</label>
            </div>
            <div class="form-item">
                <textarea cols="80" rows="10" id="content" name="content">{% if content %}{{ content }}{% endif %}</textarea>
            </div>
            <div align="form-item">
            <input type="submit" value="Изпрати"><input type="button" onclick="submit_json()" value="Изпрати като JSON">
            </div>
        </div>
    </form>
{% endblock %}
